body {
  background: radial-gradient(circle, #181818, #212121);
  color:#f1f5f9;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.footer{
  border-top: 1px solid #51515151;
}

.card {
  background: transparent;
  border: 3px solid #51515151;
  transition: 0.5s ease-in-out;
}

.card:hover {
  background: #242424;
}

.skills {
  background: transparent;
  border: 3px solid #51515151;
  transition: 0.5s ease-in-out;
}

.skills:hover {
  background: #242424;
}

.btn {
  background: transparent;
  border: 2px solid #51515151;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  background: #242424;
}

.input {
  background: transparent;
  border: 2px solid #51515151;
  transition: 0.5s ease-in-out;
}

.input:focus {
  background: #242424;
}

::-webkit-scrollbar {
  display: none;
}