body {
  background: #191919;
  color: #dedede;
  scroll-behavior: smooth;
}

.card, .skills, .btn, .input {
  background: #1c1c1c;
  border: 2px solid #333333;
  border-radius: 7px;
  transition: 0.5s ease-in-out;
}

.navbar{
  background: #1c1c1c;
}

.navbtn{
  background: #1c1c1c;
  border: 2px solid #333333;
  transition: 0.5s ease-in-out;
}

.btn:hover, .navbtn.active{
  background: #d4d4d4;
  color: #222222;
}

::-webkit-scrollbar {
  display: none;
}