body {
  background: #000000;
  color:#f1f5f9;
  background-attachment: fixed;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

.card {
  background: #0a0a0a;
  border: 1.5px solid #292929;
  transition: 0.5s ease-in-out;
}
.card:hover{
  background: #1f1f1f;
  transition: 0.5s ease-in-out;
}

.skills {
  background: #0a0a0a;
  border: 1.5px solid #292929;
  transition: 0.5s ease-in-out;
}
.skills:hover{
  background: #1f1f1f;
}

.btn {
  background: #0a0a0a;
  border: 1.5px solid #292929;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  background: #1f1f1f;
  color: #f1f5f9;
}

.input {
  background: #0a0a0a;
  border: 1.5px solid #292929;
  transition: 0.5s ease-in-out;
}
.input:focus{
  background: #1f1f1f;
}

::-webkit-scrollbar {
  display: none;
}